html {
    background-image: url("https://lh3.googleusercontent.com/-u5KK71ecfdw/Xr28rmZSzzI/AAAAAAAAAiA/GxAS6dML_fkIeKQJlQw36ECwugR1EsA2wCK8BGAsYHg/s0/2020-05-14.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}