html {
    background-image: url("https://lh3.googleusercontent.com/-j-hIzxB-XLE/Xr26zPWAhwI/AAAAAAAAAhw/Wmhuyb3TxrMbEJ7QvgGQQuvopGvcaIp_gCK8BGAsYHg/s0/2020-05-14.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}