html {
    background-image: url(https://www.google.com/url?q=https://www.wallpaperup.com/uploads/wallpapers/2015/07/03/741708/ee5c9b63ed2889bd443a7c1c189dad9d-700.jpg&sa=D&source=hangouts&ust=1589579411499000&usg=AFQjCNHrtXh7LqiNr7Lo5bBhYlCwiHhsjQ);
    background-size: 100%;
    background-repeat: no-repeat;
}