html {
    background-image: url("https://lh3.googleusercontent.com/-zOVqfewahso/Xrw8PN3V7jI/AAAAAAAAB-E/OKpzn0tfst0D8ucaqXSnzYYn1gpQBaliACK8BGAsYHg/s512/2020-05-13.png");
    background-size: 100%;
    background-repeat: no-repeat;
}