.src {
    color: #b1b1b1;
}

#high {
    height: 200vh;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
    font-family: Arial;
    font-size: 16px;
    background: #5e42a6;
}

.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    /*background: #312450;*/
    background: #1f1f2e;
    font-size: 0.65em;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    position: relative;
    margin: 3.2em 0;
}

.nav ul li a {
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(255, 255, 255, 0.35);
    display: block;
    -webkit-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}

.nav ul li.active a {
    color: white;
}

.nav ul li:not(.active)::after {
    opacity: 0.2;
}

.nav ul li:not(.active):hover a {
    color: rgba(255, 255, 255, 0.75);
}

.nav ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#5e42a6), to(#b74e91));
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.twitter {
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
}

.twitter .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

.twitter a {
    position: relative;
}

.twitter a img {
    width: 48px;
    height: 48px;
}

.twitter p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}