#mystyledbutton {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 27px;
    background-color: red;
    color: blue;
    height: 45px;
    width: 100px;
    transition: all 200ms;
    cursor: pointer;
    font-size: 15px;
}

@keyframes move {
    0% {
        background-size: 500px;
    }

    50% {
        background-size: 700px;
    }

    100% {
        background-size: 500px;
    }

}

@keyframes move-dev {
    0% {
        background-size: 70rem;
    }

    50% {
        background-size: 180rem;
    }

    100% {
        background-size: 70rem;
    }
}

#devbutton {
    margin-left: 15px;
    border-radius: 27px;
    font-size: 100px;
    color: black;
    text-decoration: none;
    background-image: url("https://image.freepik.com/free-vector/modern-abstract-blue-gradient-background_105555-119.jpg");
    width: 650px;
    height: 1000em;
    animation: move-dev;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}

#hackerbutton {
    margin-right: 30px;
    border-radius: 27px;
    font-size: 100px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-size: 500px;
    background-image: url("https://photy.org/photos/green-stripes-dark-wallpaper-photy.org.jpg");
    color: black;
    text-decoration: none;
}

/* Modal Header */

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */

.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#mystyledbutton:hover, #mystyledbutton:focus {
    background-color: blue;
    color: red;
    outline: 0;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#styleda {
    background-repeat: no-repeat;
    background-size: 300px 100px;
    font-size: 2rem;
    background-color: darkslategrey;
    border-radius: 27px;
    color: gainsboro;
    text-decoration: none;
    font-family: monospace;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0.1);
    }
}

@keyframes move-text-up {
    to {
        top: 100;
    }
}

/*NAVBAR*/

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

#invisible {
    display: none;
}

#high {
    height: 1.5rem;
    font-size: 1rem;
    width: 20rem;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#cursur {
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#styleda:hover, #styleda:focus {
    animation: shadow-pulse 1s;
}

.big {
    animation: move-text-up 1s
}

#username {
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

#username:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#password {
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 17px;
    padding: 0px;
    color: #aaa;
}

.placeholder {
    left: 10px;
}

#password:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}